@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #123456;
}

.container {
  display: flex;
  flex-direction: column;
}

.result {
  margin-bottom: 5px;
  background-color: white;
  padding-right: 10px;
  text-align: end;
  color: #123456;
  min-height: 96px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(5, 60px);
  gap: 5px;
}

button {
  color: #123456;
  cursor: pointer;
  background: white;
  border: none;
  font-weight: bold;
  transition: scale 0.5s, background 0.5s;
}

button:hover {
  background: rgba(255, 255, 255, 0.9);
}

button:active {
  scale: 1.02;
}

.span-two {
  grid-row: 2 span;
}
